@using PagedList;
@using PagedList.Mvc;
@model IPagedList<ClairGeng.BellSupportSystem.WebApp.DomainModels.Ticket>
@*@model IPagedList<ClairGeng.BellSupportSystem.WebApp.ViewModels.TicketVM>*@

@{
    ViewBag.Title = ClairGeng.BellSupportSystem.WebApp.Resources.LanguageText.ViewAllTickets;
}

<h2>@ClairGeng.BellSupportSystem.WebApp.Resources.LanguageText.ViewAllTickets</h2>

@using (Html.BeginForm("Index", "FilterTicket", FormMethod.Get))
{
    <b>Filter By:</b>
    @Html.RadioButton("filterBy", "ProjectName", true)<text>Project Name</text>
    @Html.RadioButton("filterBy", "DateTimeReceived")<text>Date Time Range</text>
    @Html.RadioButton("filterBy", "DepartmentName")<text>Department</text>
    @Html.RadioButton("filterBy", "EmployeeName")<text>Employee</text>
    @Html.RadioButton("filterBy", "Description")<text>Description</text>
    <br />
    @Html.TextBox("filter")<input type="submit" value="Filter" />
    <br /><br />

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>All Tickets</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-condensed table-bordered">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">@Html.ActionLink("Name", "Index", new { sortBy = ViewBag.SortName, filterBy = Request.QueryString["filterBy"], filter = Request.QueryString["filter"] }) </th>
                    <th class="text-center">@Html.ActionLink("Date Time Received", "Index", new { sortBy = ViewBag.SortDate, filterBy = Request.QueryString["filterBy"], filter = Request.QueryString["filter"] }) </th>
                    @*<th class="text-center">Date Time Received</th>*@
                    @*<th class="text-center">@Html.ActionLink("Department", "Index", new { sortBy = ViewBag.SortDepartment, filterBy = Request.QueryString["filterBy"], filter = Request.QueryString["filter"] })</th>*@
                    <th class="text-center">@Html.ActionLink("Requested By", "Index", new { sortBy = ViewBag.SortEmployee, filterBy = Request.QueryString["filterBy"], filter = Request.QueryString["filter"] })</th>
                    <th class="text-center">Description</th>
                </tr>
                @if (Model.Count() == 0)
                {
                    <tr>
                        <td colspan="6">No Result</td>
                    </tr>
                }
                else
                {
                    foreach (var ticket in Model)
                    {
                    <tr>
                        <td class="text-center">@ticket.Id</td>
                        <td class="text-center">@ticket.ProjectName</td>
                        <td class="text-center">@ticket.DateTimeReceived</td>
                        @*<td class="text-center">@ticket.Employee.DepartmentId</td>*@
                        <td class="text-center">@ticket.EmployeeId</td>                        
                        @*@foreach (var e in ticket.Employees)
                        {
                        }*@

                        <td class="text-center">@ticket.Description</td>
                    </tr>
                    }
                }
            </table>
            @Html.PagedListPager(Model,page=>Url.Action("Index", new
       { page,
           filterBy = Request.QueryString["filterBy"],
           filter = Request.QueryString["filter"],
           sortBy = Request.QueryString["sortBy"]
       }), new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded, DisplayPageCountAndCurrentLocation = true, DisplayItemSliceAndTotal = true})
        </div>
    </div>
}



